html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    margin: auto;
    position: relative;

}

.slider-1 img {
    width: 100%;
    height: 600px;

}

.main-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 9999;
    color: #fff;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: transparent;

}

.main-menu1 {
    color: black;
    background-color: white;

}

.main-menu li {
    margin-top: 20px;
    margin-left: 110px;

}

.fa-solid:hover {}

.logo {
    position: absolute;
    z-index: 9999;
    margin-top: -250px;
    margin-left: 150px;
    width: 212px;
    height: auto;
    display: none;
}

.balloon1-top {
    position: relative;
    display: none;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: white;
    font-size: 16px;
    background: rgb(39, 54, 62);
    margin-top: 71px;
    margin-left: -102px;

}

.balloon1-top1 {
    position: relative;
    display: block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: white;
    font-size: 16px;
    background: rgb(39, 54, 62);
    margin-top: 71px;
    margin-left: -102px;
}

.balloon1-top:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
    margin: 0;
    padding: 0;
}

/* ここからあやちゃん */
.container img {
    margin-top: 200px;
    width: 1500px;
    height: 600px;
    background-size: cover;
}

.container {
    position: relative;
}

#syokugurume {
    position: absolute;
    top: 500px;
    left: 200px;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.inform p {
    text-align: center;
    margin-top: 50px;
    border-bottom: 3px solid gray;
}

.gohan {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gohan img {
    /* padding-top: 100px; */
    padding-left: 150px;
    margin-left: 70px;
    margin-top: 20px;
    width: 400px;
    height: auto;
}

dd {
    margin-right: 250px;
    margin-left: 50px;
}

dt {
    margin-left: 120px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Passions Conflict', cursive;
}

#breakfast {
    margin-top: 100px;
    margin-left: 80px;
}

span {
    font-size: 20px;
}

#lunch {
    margin-left: 100px;
}

#afternoontea {
    margin-left: 50px;
}

#dinner {
    margin-left: 100px;
}

.time li {
    /* position: relative; */
    list-style: none;
    padding: 0 0 20px 0;
}

li {
    position: relative;
}

.timeline dl {
    margin: 0 0 20px 3em;
}

.boder-line {
    position: absolute;
    left: 13%;
    top: 15%;
    width: 5px;
    height: 100%;
    background-color: skyblue;

}

.time-line::after {
    content: absolute;
    top: 0;
    left: 0;
    width: 10px;
    /* height: 10px; */
    background-color: red;
    border-radius: 50%;
}

footer {
    margin-top: 52px;
    border-top: solid 10px gray;
    position: relative;
}

.footer-left a {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 50px;
    width: 200px;
}

.footer-bottom {
    position: absolute;
    margin-top: 120px;
    margin-left: 100px;
}

.footer-right img {
    width: 40px;
    height: 40x;
    margin-left: 15px;
}

.footer-right {
    margin-top: 50px;
    margin-left: 1000px;
}